#com{
    margin-top:50px;
    text-align: center;
    border: 1px solid grey;
    padding:10px;
}

#subcom p{
    margin-top:50px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid grey;
}