#com{
    margin-top:50px;
    margin-left: 20px;
    text-align: center;
    border-left: 1px solid lightgrey;
}

#subcom p{
    margin-top:50px;
    margin-left: 20px;
    text-align: center;
    border-left: 1px solid lightgrey;
}