<html>
  <head>
    <title>Video Call</title>
    <!--Bootstrap only for styling-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!--Bootstrap only for styling-->


  </head>
  <style>
    .container {
      background: rgb(148, 144, 144);
      margin: 50px auto;
      max-width: 80%;
      text-align: center;
      padding: 2%;
    }

    button {
      margin: 1em;
    }

    input {
      margin-top: 1em;
    }

    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
  <body>
    <div class="container">
      <h1>Video call</h1>

      <ul id="messageBox"></ul>
      <div id="video-grid"><video id="remoteVideo" playsInline autoPlay></video></div>

      <!--WebRTC related code-->
      <input id="messageInput" type="text" class="form-control"
             placeholder="message">
      <button type="button" class="btn btn-primary" onclick='checkTracks()'>CHECK</button>
      <button type="button" class="btn btn-primary" onclick='sendMessage()'>SEND</button>
      <script type="text/javascript" th:src="@{/js/client.js}"></script>
      <!--WebRTC related code-->

    </div>
  </body>
</html>